/* You can add global styles to this file, and also import other style files */
/* Import font styles from google fonts */
/*
  Lumanosimo is a cursive font use it for page titles and banners font-family: "Lumanosimo", cursive, fantasy;
  Crimson Text is a serif font use it for headers                 font-family: "Crimson Text", Georgia, serif;
  Titillium Web is a sans serif font to be used for display       font-family: "Titillium Web", Verdana, Helvetica, sans-serif;
  DM Mono is a monospace font to be used for code examples        font-family: "DM Mono", monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lumanosimo&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body, header, nav, main, section, footer, img, figure, figcaption, div, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 100%;
}

body {
  height: 100%;
}

h1 {
  font-family: "Lumanosimo", cursive, fantasy;
}

h2, h3, h4, h5, h6 {
  font-family: "Crimson Text", Georgia, serif;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 75%;
  background-color: aliceblue;
  color: #000000;
  font-family: "Titillium Web", Verdana, Helvetica, sans-serif;
  font-size: 1rem;
}

.banner {
  background-color: darkslateblue;
  color: darkturquoise;
  text-align: center;
  font-family: "Lumanosimo", cursive, fantasy;
  font-size: 2.5rem;
}

.banner-img {
  max-width: 100%;
  height: auto;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  font-family: "Titillium Web", Verdana, Helvetica, sans-serif;
}

/* navication styles */
.navbar {
  background-color: silver;
  border-bottom: solid darkgrey 3px;
  width: 100%;
}

.navbar ul {
  padding: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 8px;
  float: left;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li:hover {
  background-color: lightgrey;
  color: teal;
  cursor: pointer;
}

.navbar li a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* Body styles */
.pageHeader {
  text-align: center;
  font-size: 2rem;
}

p.dropCap:first-letter {
  font-family: "Lumanosimo", cursive, fantasy;
  font-size: 1.5rem;
}

/* Form styles */
label, input {
  display: block;
  margin-bottom: 5px;
}

input, input[type="submit"] {
  padding: 8px;
  box-sizing: border-box;
}

input[type="email"], input[type="password"] {
  width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
  float: right;
}

.error {
  color: red;
  padding: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ng-pristine[required] {
  border: none;
}

/* Footer Styles */
.footer {
  background-color: silver;
  border-top: solid darkgrey 3px;
  text-align: center;
  font-size: .8rem;
  font-family: "DM Mono", monospace;
  width: 100%;
}

.footerNav {
  width: 100%;
}

.footerNav ul {
  padding: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerNav li {
  display: inline-block;
  padding: 8px;
}

.footerNav li a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.footerNav li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
